.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 100vh; /* Full viewport height */
    width: 100vw; /* Full viewport width */
    overflow: hidden; /* Ensure no overflow */
    text-align: center;
  }

  
  .mainpic1 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }
  
  .mainpic1 img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensure the image covers the container */
    object-position: top; /* Align the image to the top */
    transition: transform 1s ease-in-out;
  }
  
  .mainpic1 img:hover {
    transform: scale(1.1); /* Zoom in the image */
  }
  
  .tent-rental {
    position: absolute;
    top: 50%; /* Adjust this value to position the title as needed */
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 20px;
    color: white;
    font-size: calc(3vw + 1vh);; /* Adjust font size as needed */
    font-weight: bold;
    text-align: center;
    border-radius: 5px; /* Optional: Add rounded corners */
  }
  
  .book-now-button {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
  }
  
  .book-now-button button {
    background-color: #ff0000; /* Adjusted to red */
    color: white;
    border: none;
    padding: 20px 40px;
    font-size: 24px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .book-now-button button:hover {
    background-color: #cc0000; /* Darker red for hover */
  }