.navbar{
    display: flex;
    align-items: center;  /* Vertically center the items */
    justify-content: space-between; /* Evenly distribute space between items */
    padding: 2px;
    box-shadow: 0 1px 3px -2px black;
}

.navbar-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0px;
  
  }
  
  .nav-login-cart button {
    background: none;
    border: none;
    cursor: pointer;
  }
  
  .cart-icon {
    height: 30px; /* Adjust size as needed */
  }

  .nav-menu{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 50px;
    font-size: 20px;
    font-weight: 500;
  }

  .nav-menu li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3px;
    cursor: pointer;
  }

.nav-menu hr{
    border: none;
    width: 80%;
    height: 3px;
    border-radius: 10px;
    background: red;
}

.nav-login-cart{
    display: flex;
    align-items: center;
    gap: 40px;
    cursor: pointer;
}
.nav-cart-court{
    width: 22px;
    height: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -35px;
    margin-left: -85px;
    border-radius: 11px;
    font-size: 14px;
    background: red;
    color: white;
}


.nav-menu a:link {
  color: rgb(71, 71, 71); /* unvisited link */
}

.nav-menu a:visited {
  color: rgb(71, 71, 71); /* visited link */
}

.nav-menu a:hover {
  color: gray; /* mouse over link */
}

.nav-menu a:active {
  color: darkgray; /* selected link */
}